body {
    font-size: 12px;
    line-height: 22px;
    color: #0a0a0a;
    border-top: 3px solid #eee;
    /*background:#343434 url("../img/back.png") repeat;  */
    /*background-color: #03bb91;*/
    background-image: url(../../bootstrap-3.3.7-dist/images/login_bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    padding-top: 37px;
    -webkit-font-smoothing: antialiased;
}
/*
    mbsc-mobiscroll设置
 */
/*.mbsc-sc-whl-gr-c {*/
    /*font-size: 13px;*/
/*}*/
.mbsc-ios .dwl{
    color: #495057;
    line-height: 2.5em;
    font-size: 14px;
}

.mbsc-ios .dwbw{
    padding:0% 13%;
}


/*按钮模块的大小*/
/*关的背景颜色*/
.btn{
    font-size: 0.9rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
/*关的状态字体颜色*/
.toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: #aaa;
    border-color: #212529;
    color: #212529;
    padding-left: 16px;
}
/*开的状态*/
.toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 244, 7, 0.7);
    border-color: #212529;
    padding-right: 15px;
}

.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 0;
    border-width: 0 1px;
    background-color: #f8f9fa;
}
/*开的字体的颜色*/
.btn-primary:hover {
    background-color: #007bff;
    border-color: #222;
}



/* Sidebar */
/* 非常重要*/
.sidebar {
    width: 100%;
    float: left;
    display: block;
    background: #f2f2f2;
    color: #777;
    position: relative;
}

.sidebar .sidebar-dropdown {
    display: none;
}

.sidebar .sidebar-dropdown a {
    color: #fff !important;
    box-shadow: inset 0px 0px 1px #000;
    background-color: #343434;
    background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#292929));
    background: -webkit-linear-gradient(top, #343434, #292929);
    background: -moz-linear-gradient(top, #343434, #292929);
    background: -ms-linear-gradient(top, #343434, #292929);
    background: -o-linear-gradient(top, #343434, #292929);
    background: linear-gradient(top, #343434, #292929);
    padding: 6px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    display: block;
    border-top: 2px solid #666;
    border-bottom: 1px solid #333;

}

.sidebar ul {
    padding: 0px;
    margin: 0px;
}

.sidebar ul li {
    list-style-type: none;
    margin: 2px auto;
}

.sidebar #nav {
    display: block;
    position: absolute;
    z-index: 60;
    min-width: 94%;
    margin: auto;
    left: 3%;
    box-shadow: 10px 10px 10px;
}

/**
	一级菜单样式
 */
.sidebar #nav li i {
    display: inline-block;
    margin-right: 5px;
    background: #eee;
    color: #888;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.sidebar #nav li i.icon-bell-alt {
     background: #eeab51;
     color: #ffffff;
 }
.sidebar #nav li i.icon-wrench {
    background: #959595;
    color: #ffffff;
}
.sidebar #nav li i.icon-time {
     background: #eee;
     color: #ff0010;
 }
.sidebar #nav li i.icon-off {
    background: #eee;
    color: #ff0010;
}

.sidebar #nav li span i {
    margin: 0px;
    color: #999;
    background: transparent !important;
    border: 0px;
}

.sidebar #nav > li > a {
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: -ms-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
    background: linear-gradient(top, #f9f9f9, #f2f2f2);
    box-shadow: inset 0px 1px 1px #fff;
}

.sidebar #nav > li > a.open {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: center;
    font-size:15px;
}

.sidebar #nav > li > a.settings {
    display: inline-block;
    float:right;
    width: 40%;
    height: 100%;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    /*padding-left: 10px*/
}

.sidebar #nav > li > a:hover, .sidebar #nav > li > a.open, .sidebar #nav > li > a.settings, .sidebar #nav > li > a.subdrop {
    /*color: #e9e9e9;*/
    color: transparent;
    border-bottom: 1px solid #167cac;
    border-top: 1px solid #2094ca;
    background-color: #0993d3;
    background: -webkit-gradient(linear, left top, left bottom, from(#1aaef3), to(#0993d3));
    background: -webkit-linear-gradient(top, #1aaef3, #0993d3);
    background: -moz-linear-gradient(top, #1aaef3, #0993d3);
    background: -ms-linear-gradient(top, #1aaef3, #0993d3);
    background: -o-linear-gradient(top, #1aaef3, #0993d3);
    background: linear-gradient(top, #1aaef3, #0993d3);
    box-shadow: none;
    color: #fff;
    font-weight: bold;
}

.sidebar #nav > li.first{
    /*color: #e9e9e9;*/
    color: transparent;
    border-bottom: 1px solid #167cac;
    border-top: 1px solid #2094ca;
    background-color: #0993d3;
    background: -webkit-gradient(linear, left top, left bottom, from(#1aaef3), to(#0993d3));
    background: -webkit-linear-gradient(top, #1aaef3, #0993d3);
    background: -moz-linear-gradient(top, #1aaef3, #0993d3);
    background: -ms-linear-gradient(top, #1aaef3, #0993d3);
    background: -o-linear-gradient(top, #1aaef3, #0993d3);
    background: linear-gradient(top, #1aaef3, #0993d3);
    box-shadow: none;
    color: #fff;
    font-weight: bold;
}


.sidebar #nav > li > a:hover i, .sidebar #nav > li > a.open i,.sidebar #nav > li > a.settings i,.sidebar #nav > li > a.subdrop i {
    color: #fff;
    background-color: #167cac !important;
    border: 1px solid #167cac;
}

.sidebar #nav > li > a:hover span i, .sidebar #nav > li > a.open span i, .sidebar #nav > li > a.subdrop span i {
    color: #fff;
    background: transparent !important;
    border: 0px;
}

/**
	二级子菜单样式
 */
.sidebar #nav li ul {
    display: none;
    background: #efefef url("../../img/cream.png") repeat;
}

.sidebar #nav li ul li a {
    display: block;
    background: none;
    padding: 10px 15px;
    padding-left: 20px;
    text-decoration: none;
    color: #777;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}


/**
	鼠标悬停子菜单，变色
 */
.sidebar #nav li ul li a:hover {
    background: #eee;
    border-bottom: 1px solid #ddd;
}
