<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--<typeAliases>-->
        <!--<typeAlias type="com.zk.kfcloud.Entity.web.User" alias="User"/>-->
        <!--<typeAlias type="com.zk.kfcloud.Entity.web.Role" alias="Role"/>-->
        <!--<typeAlias type="com.zk.kfcloud.Entity.web.Menu" alias="Menu"/>-->
        <!--<typeAlias type="com.zk.kfcloud.Entity.web.Factory" alias="Factory"/>-->
    <!--</typeAliases>-->
    <mappers>
        <mapper resource="/mapper/UserMapper.xml"/>
    </mappers>
</configuration>
