<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>数据分析</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>

    <div class="layui-container">
        <div id="factoryId" th:text="${factoryId}" style="visibility:hidden"></div>
        <ul class="layui-nav layui-bg-cyan" lay-filter="">
            <li id="dailyReport" class="layui-nav-item layui-this">
                <a href="javascript:getHtml()">每日报表</a>
            </li>
        </ul>

        <div id="iframeContent">

        </div>

    </div>

    <!-- js引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script>
        <!-- 模拟自动点击a标签-->
        $(function(){
            getHtml();
        })
       function getHtml() {
           var factoryId = $("#factoryId").html();
           console.log(factoryId)
           var url = '/anal/dailyReport/'+factoryId;
           $.ajax({
               url:url,
               type:'get',
               dataType:'html',
               success:function (data) {
                   $("#iframeContent").html(data);
               }
           });
       }
    </script>

</body>
</html>