<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>实时数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/js/current/style.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
    <section class="cd-section">

        <div id="menu" class="cd-modal-action">
            <a href="#0" class="btn" data-type="modal-trigger">实时导航</a>
            <span class="cd-modal-bg"></span>
        </div>

        <div class="widget ">
            <div class="main">
                <div class="widget-head">
                    <div class="pull-center">实时数据</div>
                    <div class="clearfix"></div>
                </div>

                <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>参数名</td>
                            <td>值</td>
                        </tr>
                        </thead>
                        <tbody id="currentdata">

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- 模态框 start -->
        <div class="cd-modal">
            <div class="cd-modal-content">
                <div id="sysPanel">
                    <!-- 这里会展示某工厂current页面拥有的空分系统模块-->
                </div>
            </div>
        </div>
        <a href="#0" class="cd-modal-close">Close</a>
        <!-- 模态框 end -->

        <p id="pp" th:text="${factoryId}" style="visibility:hidden"></p>
    </section>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:src="@{/js/current/modernizr.js}"></script> <!-- Modernizr -->
    <script th:src="@{/js/current/main.js}"></script>
    <script th:src="@{/js/current/velocity.min.js}"></script>
</body>
</html>