<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>每日报表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all">-->
    <link href="https://cdn.bootcss.com/layer/3.1.0/mobile/need/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="/js/user/user.css">
    <link rel="stylesheet" href="/js/analysis/dailyReport.css" media="all">
</head>
<body>

    <div id="container">
        <div id="factoryId" th:text="${factoryId}" style="visibility:hidden"></div>
        <!--1、每日报表-->
        <div id="table_container">
            <div class="layui-form-item"><!-- 时间选择器 -->
                <div class="layui-inline">
                    <div id="time">
                        <!--<label class="layui-form-label">时间</label>-->
                        <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
                        <button id="confirm" class="layui-btn">确定</button>
                    </div>
                </div>
            </div>
            <!-- 1 报表功能暂时关闭 -->
            <!--<table id="anal_table" class="layui-table"></table>-->
        </div>

        <!--2、昨日曲线-->
        <div class="content">
            <div id ="cruve_container"></div>
        </div>

    </div>

    <!-- js引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/analysis/dailyReport.js"></script>
    <!--<script src="/js/echarts.min.js"></script>-->
    <script src="https://cdn.bootcss.com/echarts/4.0.4/echarts.min.js"></script>
</body>
</html>