<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>每日报表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/js/user/user.css">
    <link rel="stylesheet" href="/js/analysis/dailyReport.css" media="all">
    <!-- js引入 -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/analysis/dailyReport.js"></script>
</head>
<body>

    <div style="border: red solid 1px;width: 100%;height: 500px;margin-top:20px;">
        <!-- 时间选择器 -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">时间</label>
                <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
                <button id="confirm" class="layui-btn">确定</button>
            </div>
        </div>

        <div class="content">
            <table id="anal_table" class="layui-table"></table>
        </div>

        <button class="layui-btn" style="margin-top:200px;margin-left: 150px;">我就是加载的页面</button>
    </div>

    <!--<script>-->
        <!--layui.use(['laydate','table'], function(){-->
            <!--// 1 日期选择器-->
            <!--var date = layui.laydate;-->
            <!--date.render({-->
                <!--elem: '#test1', //指定元素-->
                <!--value:yestoday()-->
            <!--});-->
        <!--});-->

    <!--</script>-->

</body>
</html>