<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>历史数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/js/history/main.css}"/>
    <script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/history/history.js}"></script>
</head>
<body>
    <div class="container">

        <ul class="menu">
            <li>
                <a id="nav" class="btn" href="#s1">
                    导航
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
                <ul class="submenu">
                    <!--<li><a href="#">Submenu a</a></li>-->
                    <!--<li><a href="#">Submenu b</a></li>-->
                    <!--<li><a href="#">Submenu c</a></li>-->
                    <!--<li><a href="#">Submenu d</a></li>-->
                    <!--<li><a href="#">Submenu e</a></li>-->
                    <!--<li><a href="#">Submenu f</a></li>-->
                    <!--<li><a href="#">Submenu g</a></li>-->
                    <!--<li><a href="#">Submenu h</a></li>-->
                </ul>
            </li>
        </ul>

    </div>
</body>
</html>