<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>历史数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--<link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>-->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/js/history/mobiscroll.custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/js/history/history.css}"/>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>
    <link rel="stylesheet" th:href="@{/style/font-awesome.css}"/>
</head>
<body>
    <div class="container">

        <div class="btn-group">
            <ul class="menu">
                <li>
                    <!--<a id="nav" class="btn dropdown-toggle" href="#s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <a id="nav"  href="#s1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        系统导航
                        <i class="icon-chevron-up"></i>
                    </a>
                    <ul class="dropdown-menu">

                    </ul>
                </li>
            </ul>
        </div>

        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">
                    <div class="section"> <!-- 日期时间选择器 -->
                        <label>时间:</label>
                        <input type="text" id="start_datetime"/>    -   <input type="text" id="end_datetime"/>
                        <label> <button id="confirm" class="btn btn-default btn-sm" onclick="triggerCurve()"> 确定 </button></label>
                    </div>
                </div>
                <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-content">
                <div id="container">

                </div>
            </div>
        </div>
    </div>

    <!--<script th:src="@{/jquery/jquery-3.3.1.min.js}"></script>-->
    <!--<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>-->
    <!--<script th:src="@{/Highstock-5.0.14/highstock.js}"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/highstock/6.0.3/highstock.js"></script>
    <script th:src="@{/js/history/history.js}"></script>
    <script th:src="@{/js/history/main.js}"></script>
    <script th:src="@{/js/history/mobiscroll.custom.min.js}"></script>
</body>
</html>