<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/signin.css}"/>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>-->
    <!--<script th:src="@{jquery/jquery-3.3.1.min.js}"></script>-->
    <!--<script th:src="@{bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>-->
</head>
<body>
    <div class="signin">
        <div class="signin-head"><img src="/bootstrap-3.3.7-dist/images/logo.png" alt="" class="img-rounded"></div>
        <form class="form-signin" role="form" th:action="@{/index}" method="post">
            <input type="text" class="form-control" name="username" placeholder="用户名" required autofocus/>
            <input type="password" class="form-control" name="password" placeholder="密码" required/>
            <!--<label id="remeberme" class="checkbox">-->
            <!--<input type="checkbox" value="remember-me"> 记住我-->
            <!--</label>-->
            <button class="btn btn-lg btn-block" type="submit">登录</button>
            <!--LoginController中toIndex的参数输入-->
            <p><input id="openid" type="text" name="openid" style="visibility:hidden"/></p>
            <p><input id="access_token" type="text" name="access_token" style="visibility:hidden"/></p>
            <p id="pp" th:text="${openid}" style="visibility:hidden"></p>
            <p id="pppp" th:text="${access_token}" style="visibility:hidden"></p>
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            $('#openid').val($('#pp').html())
            $('#access_token').val($('#pppp').html())
        })
    </script>
</body>
</html>
