<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{bootstrap-3.3.7-dist/css/signin.css}"/>
    <script th:src="@{jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#openid').val($('#pp').html())
        })
    </script>
</head>
<body>
    <div class="signin">
        <div class="signin-head"><img src="/bootstrap-3.3.7-dist/images/test/head_120.png" alt="" class="img-circle"></div>
        <form class="form-signin" role="form" th:action="@{/index}" method="post">
            <input type="text" class="form-control" name="username" placeholder="用户名" required autofocus/>
            <input type="password" class="form-control" name="password" placeholder="密码" required/>
            <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
            <p><input id="openid" type="text" name="openid" style="visibility:hidden"/></p>
            <p id="pp" th:text="${openid}" style="visibility:hidden"></p>
            <!--<label class="checkbox">-->
            <!--<input type="checkbox" value="remember-me"> 记住我-->
            <!--</label>-->
        </form>
    </div>
</body>
</html>
