<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.kfcloud.Dao.FactoryMapper">
	<sql id="factoryColumns">factory_index,factory_id,system_name,model_num,model_id</sql>
	<resultMap type="com.zk.kfcloud.Entity.web.Factory" id="factoryResultMap">
		<id column="factory_index" property="factoryIndex" />
		<result column="factory_id" property="factoryId" />
		<result column="system_name" property="systemName" />
		<result column="model_num" property="modelNum" />
		<result column="model_id" property="modelId" />
	</resultMap>

	<select id="getDashBoardTableName" parameterType="Integer" resultType="String">
		select out_table_sec from para_ana2  where factory_id = #{factoryId}
	</select>

	<select id="listAllInfoByFactoryId" parameterType="Integer"
		resultMap="factoryResultMap">
		select
		<include refid="factoryColumns" />
		from tb2_factory where factory_id = #{factoryId}
	</select>

	<select id="getAlarmIdByFactoryId" parameterType="Integer"
		resultType="Integer">
		select model_id from tb2_factory where factory_id
		= #{factoryId}
	</select>

	<select id="listAllSystemNameByFactoryId" resultType="String"
		parameterType="Integer">
		select system_name from tb2_factory where factory_id =
		#{factoryId}
	</select>

	<select id="getData" resultType="java.util.LinkedHashMap" statementType="STATEMENT">
		select ${SqlFields} from ${KFTable} order by TIME Desc limit 1
	</select>

	<select id="getAlarmData" parameterType="String" resultType="java.util.LinkedHashMap"
		statementType="STATEMENT">
		select * from ${AlarmTable} order by TIME Desc limit 1
	</select>

	<select id="getAlarmInfoByAlarmUrl" resultType="java.util.LinkedHashMap" parameterType="String">
		select * from tb2_model2 where alarm_url = #{alarmTableName}
	</select>

	<select id="getFactoryIdsByAlarmId" resultType="Integer" parameterType="Integer">
		select factory_id from tb2_factory where model_num = 2 and model_id = #{alarmId}
	</select>

	<select id="getMenuIdsByFactoryId" resultType="Integer" parameterType="Integer">
		select parent_id from tb2_menu where factory_id = #{factoryId}
	</select>

	<select id="getOpenIdsByMenuId" resultType="String" parameterType="Integer">
		SELECT open_id FROM tb2_wechat t1 ,tb2_user_menu t2 WHERE t1.user_id = t2.user_id and t2.menu_id = #{menuId}
	</select>

	<select id="getParaNum" parameterType="java.util.HashMap"
		resultType="int">
		select para_num from ${modelName} where model_id = #{modelId}
	</select>

	<select id="getParaValues" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
		select ${fields} from ${modelName} where model_id = #{modelId}
	</select>

	<select id="getParasByModelNameAndId" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from ${modelName} where model_id = #{modelId}
	</select>

	<select id="getHistoryDatasByDate" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select (@rowNum:=@rowNum+1) as rowNo,${KFFields} from(
		select (@rowNum:=@rowNum+1) as rowNo,${KFFields} from(
		select ${KFFields} from ${tableName}
		<where>
			time between
			<if test="dStart!=null">
		   					 	<![CDATA[  DATE_FORMAT(#{dStart}, '%Y-%m-%d %H:%T:%s') ]]>
			</if>
			and
			<if test="dEnd!=null">
		   			 			<![CDATA[  DATE_FORMAT(#{dEnd}  , '%Y-%m-%d %H:%T:%s') ]]>
			</if>
		</where>
		) A ,(Select @rowNum :=0) B
		) C
		<where>
			<if test="interval!=null">
		   					  <![CDATA[ and mod(C.rowNo,#{interval}) = 1  ]]>
			</if>
		</where>
	</select>
	<select id="getAllData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from ${tableName}
		<where>
			time between
			<if test="dStart!=null">
		   					 	<![CDATA[  DATE_FORMAT(#{dStart}, '%Y-%m-%d %H:%T:%s') ]]>
			</if>
			and
			<if test="dEnd!=null">
		   			 			<![CDATA[  DATE_FORMAT(#{dEnd}  , '%Y-%m-%d %H:%T:%s') ]]>
			</if>
		</where>
	</select>
	<select id="getParaAnalysisData" parameterType="Integer" resultType="java.util.HashMap">
		select * from para_ana1 where factory_id = #{factoryId}
	</select>
	<select id="getNewestStateData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from ${tableName}  order by TIME desc limit 1
	</select>
	<select id="getDailyData" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from ${tableName} where kind = #{teamNum} order by TIME Desc limit 1
	</select>

</mapper>